[Desktop Entry]
Name=Big Restore Config - Restore Config Settings
Name[pt_BR]=Big Restore Config - Restaurar Configurações de Applicativos
Name[es]=Big-Config Restaurar Configuraciones
Name[bg]=Big-Config Възстановяване на настройки
Name[cs]=Big-Config Obnovit nastavení
Name[da]=Big-Config Gendan indstillinger
Name[de]=Big-Config Einstellungen wiederherstellen
Name[el]=Big-Config Επαναφορά ρυθμίσεων
Name[et]=Big-Config Taasta seaded
Name[fi]=Big-Config Palauta asetukset
Name[fr]=Big-Config Restaurer les paramètres
Name[hr]=Big-Config Vraćanje postavki
Name[hu]=Big-Config Beállítások visszaállítása
Name[is]=Big-Config Endurheimta stillingar
Name[it]=Big-Config Ripristina impostazioni
Name[ja]=Big-Config 設定を復元
Name[ko]=Big-Config 설정 복원
Name[nl]=Big-Config Instellingen herstellen
Name[no]=Big-Config Gjenopprett innstillinger
Name[pl]=Big-Config Przywróć ustawienia
Name[pt]=Big-Config Restaurar Configurações
Name[ro]=Big-Config Restabilire setări
Name[ru]=Big-Config Восстановить настройки
Name[sk]=Big-Config Obnoviť nastavenia
Name[sv]=Big-Config Återställ inställningar
Name[tr]=Big-Config Ayarları Geri Yükle
Name[uk]=Big-Config Відновити налаштування
Name[zh]=Big-Config 恢复设置
Categories=Settings;Biglinux;
StartupNotify=true
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Exec=big-restore-config
Icon=big-restore-config
